[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.20"
djangorestframework = "==3.11.2"
markdown = "==3.0.1"
django-filter = "==2.1.0"
django-rest-auth = "==0.9.3"
django-allauth = "==0.38.0"
django-cors-headers = "==2.4.0"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"

[scripts]
dev = "python manage.py runserver 127.0.0.1:8844"
make = "python manage.py makemigrations"
migrate = "python manage.py migrate"
